@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
}
button {
  cursor: pointer;
}

.aside-scroll {
  overflow-y: auto;
  scrollbar-width: none;
}

.aside-scroll::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

.aside-scroll:hover {
  scrollbar-width: thin;
}

.aside-scroll:hover::-webkit-scrollbar {
  width: 6px;
}

.aside-scroll:hover::-webkit-scrollbar-thumb {
  background-color: rgba(100, 100, 100, 0.4);
  border-radius: 8px;
}


.html-hydrated {
  visibility: visible;
}